<div class="spacer-2"></div>
<div class="row">
	<div class="column large-12">
	<h1><strong>Políticas de privacidad</strong></h1>

	<p>Esta Política de Privacidad rige la manera en que VET HEROES , utiliza , mantiene y divulga la información recogida de los usuarios (cada uno, un "Usuario ") del sitio web <a href="http://www.vetheroes.co">vetheroes.co</a> ("Sitio" ) . Esta política de privacidad se aplica al Sitio y todos los productos y servicios ofrecidos por VET HEROES.</p>

<h3>Información de identificación personal</h3>

<p>VET HEROES puede recopilar información de identificación personal de los usuarios en una variedad de maneras, incluyendo , pero no limitado a , cuando los usuarios visitan nuestro sitio, registrarse en el sitio , responde a una encuesta , llenar un formulario , y en relación con otras actividades, servicios , funciones o recursos que ponen a disposición en nuestro sitio. Los usuarios pueden pedir , en su caso , nombre, dirección de correo electrónico , dirección postal , número de teléfono , información de tarjeta de crédito. Los usuarios pueden , sin embargo, visitar nuestro sitio de forma anónima . Vamos a recoger información de identificación personal de los usuarios sólo si voluntariamente presentar esa información a nosotros . Los usuarios siempre pueden negarse a suministrar información de identificación personal , excepto que puede evitar que la participación en ciertas actividades relacionadas con el sitio.</p>

<h3>Información de identificación no personal</h3>

<p>VET HEROES puede recopilar información de identificación no personal sobre los usuarios cuando interactúan con nuestro sitio. Información de identificación no personal puede incluir el nombre del navegador , el tipo de equipo e información técnica sobre los usuarios mediante la conexión a nuestro sitio, tales como el sistema operativo y los proveedores de servicios de Internet utilizados y otra información similar.</p>

<h3>Cookies</h3>

<p>Nuestro sitio puede utilizar "cookies" para mejorar la experiencia del usuario . Navegador web del usuario coloca cookies en su disco duro para propósitos de registro y, a veces para rastrear información sobre ellos. El usuario puede optar por configurar su navegador para que rechace las cookies o para que le avise cuando se envíen cookies. Si lo hacen , tenga en cuenta que algunas partes del sitio pueden no funcionar correctamente .</p>

<h3>Cómo utilizamos la información recopilada</h3>

<p>VET HEROES pueden recopilar y utilizar usuarios información personal para los siguientes fines :</p>

<ul>

<li><strong>Para mejorar el servicio al cliente</strong> <br>
La información que usted proporcione nos ayudará a responder a sus solicitudes de servicio al cliente y las necesidades de apoyo de manera más eficiente.</li>
<li><strong>Para personalizar la experiencia del usuario</strong> <br>
Podemos utilizar la información en conjunto para comprender cómo nuestros usuarios como grupo utilizan los servicios y recursos ofrecidos en nuestro Sitio.</li>
<li><strong>Para mejorar nuestro sitio</strong> <br>
Podemos utilizar la retroalimentación que usted proporciona para mejorar nuestros productos y servicios.</li>
<li><strong>Para procesar los pagos</strong>  <br>
Podemos utilizar la información que los Usuarios proporcionan sobre sí mismos al hacer un pedido sólo para dar servicio a ese orden. Nosotros no compartimos esta información con terceros, salvo en la medida necesaria para prestar el servicio .</li>
<li><strong>Para ejecutar una promoción, concurso, encuestas u otro sitio</strong>  <br>
Para enviar información de los usuarios que accedieron a recibir sobre temas que pensamos serán de su interés.</li>
<li><strong>Para enviar correos electrónicos periódicos</strong>  <br>
Podemos utilizar la dirección de correo electrónico para enviar la información de usuario y las actualizaciones correspondientes a su pedido. También puede ser utilizada para responder a sus consultas , preguntas, y / u otras solicitudes. Si el Usuario decide optar por nuestra lista de correo , recibirán correos electrónicos que pueden incluir noticias de la compañía , actualizaciones de productos relacionados o información de servicio, etc Si en cualquier momento el usuario desea dejar de recibir futuros correos electrónicos , que pueden hacer poniéndose en contacto con nosotros a través de nuestro Sitio.</li>
</ul>

<h3>¿Cómo protegemos su información?</h3>

<p>Adoptamos las prácticas adecuadas de recogida, almacenamiento y procesamiento y las medidas de seguridad para proteger contra el acceso no autorizado, alteración, divulgación o destrucción de su información personal, nombre de usuario, contraseña, información de transacciones y los datos almacenados en nuestro Sitio.</p>

<p>Intercambio de información sensible y privada entre el sitio y sus usuarios pasa por un canal de comunicación seguro SSL y es cifrada y protegida con firmas digitales.</p>

<h3>Compartir su información personal</h3>

<p>Nosotros no vendemos, comerciamos, o alquilamos la información de identificación personal de nuestros usuarios a terceros. Podemos compartir información demográfica agregada genérica no vinculada a ninguna información de identificación personal sobre los visitantes y usuarios con nuestros socios comerciales , afiliados y anunciantes de confianza para los objetivos señalados above.We podrá utilizar terceros proveedores de servicios que nos ayuden a operar nuestro negocio y el Sitio o administrar actividades en nuestro nombre , como el envío de boletines informativos o encuestas. Podemos compartir su información con estos terceros para esos fines limitados siempre que usted nos haya dado su permiso.</p>

<h3>Publicidad</h3>

<p>Los anuncios que aparecen en nuestro sitio pueden ser entregados a los Usuarios por los socios de publicidad, que pueden establecer cookies. Estas cookies permiten al servidor de anuncios reconocer su equipo cada vez que le envían una publicidad en línea para recopilar información no identificación personal acerca de usted o de otras personas que utilizan el ordenador. Esta información permite a las redes de anuncios , entre otras cosas , realizar determinados anuncios que ellos creen que será de mayor interés para usted . Esta política de privacidad no cubre el uso de cookies por parte de anunciantes.</p>

<h3>Google Adsense</h3>

<p>Algunos de los anuncios pueden ser servidos por Google . Google utiliza la cookie de DART le permite servir anuncios a los usuarios basados ​​en su visita a nuestro sitio y otros sitios en el Internet. DART utiliza " información no personal identificable " y no hace un seguimiento de información personal sobre usted , como su nombre, dirección de correo electrónico , dirección física , etc Usted puede optar por el uso de la cookie de DART a través del anuncio de Google y la privacidad de la red de contenido política en <a href="http://www.google.com/privacy_ads.html">http://www.google.com/privacy_ads.html</a></p>

<h3>Cambios en esta política de privacidad</h3>

<p>VET HEROES tiene la discreción para actualizar esta política de privacidad en cualquier momento . Cuando lo hacemos, vamos a revisar la fecha de actualización en la parte inferior de esta página. Animamos a los usuarios a comprobar con frecuencia esta página para cualquier cambio para mantenerse informado acerca de cómo estamos ayudando a proteger la información personal que recopilamos. Usted reconoce y acepta que es su responsabilidad revisar esta política de privacidad periódicamente y tomar conciencia de las modificaciones .</p>

<h3>Su aceptación de estos términos</h3>

<p>Al usar este Sitio , usted expresa su aceptación de esta política y términos de servicio. Si usted no está de acuerdo con esta política, por favor no utilice nuestro Sitio. Su uso continuado del Sitio tras la publicación de cambios a esta política será considerado su aceptación de dichos cambios.</p>

<h3>Para contactar con nosotros</h3>

<p>Si usted tiene alguna pregunta sobre esta Política de Privacidad, las prácticas de este sitio , o sus relaciones con este sitio , por favor póngase en contacto con nosotros en:</p>

VET HEROES <br>
<a href="http://www.vetheroes.co">vetheroes.co</a><br>
Carrera 20 # 134 a 35<br>
3167001467<br>
info@vetheroes.co<br><br>

Este documento fue actualizado el 22 de abril 2014

		<div style="font-size:10px;color:gray;">Privacy policy created by <a style="font-size:10px;color:gray;text-decoration:none;cursor:default;" href="http://www.generateprivacypolicy.com" target="_blank">Generate Privacy Policy</a></div>
	</div>
</div>
<div class="spacer-6"></div>