<center>

    <table width="90%" border="0" cellspacing="0" cellpadding="0">
        <tr>
            <td align="center" style="padding:10px"><img src="http://vetheroes.co:1337/images/logo.png" alt=""/></td>
        </tr>
        <tr>
            <td align="left" style="font-family:Arial, Helvetica, sans-serif; padding:10px"><h3>Invitación privada a participar de la nueva forma de administrar tu veterinaria.</h3>
                <p> Por ser uno de nuestros invitados exclusivos, Vetheroes te da la oportunidad de preinscribirte y usar nuestro software de manera gratuita por un tiempo limita</p>
                <h4>Que es Vetheroes?</h4>
                <p>Vetheroes es la forma más sencilla y divertida de administrar tu veterinaria. Te ayudará a relacionarte con tus clientes y a atraer nuevos clientes. Te mostrará estadisticas y reposrtes de tu veterinaria. En definitiva seremos tu aliado más importante.</p></td>
        </tr>
        <tr>
            <td align="center" style="padding:20px; font-family:Arial, Helvetica, sans-serif">
                <a style="background:#59C063; color:white; text-decoration:none; padding:20px 40px; border-radius:60px; text-transform: uppercase" href="http://landing.vetheroes.co/#/invite/{{id}}/{{token}}">Confirma tu invitación</a></td>
        </tr>
        <tr>
            <td align="center" style="font-family:Arial, Helvetica, sans-serif">
                <p>&nbsp;</p>
                <p>Cordialemete</p>
                <h4>Equipo Vet Heroes</h4>
            </td>
        </tr>
    </table>


</center>

