

        <!-- Add your site or application content here -->
        <section id="banner">
            <div class="row">
                <div class="column medium-4 large-4 tac">
                    <img src="/images/logo.png" height="158" width="155" alt="" class="logo">
                    <!-- <h1><strong class="lato">VET HEROES</strong> <br>The new way to manage your veterinary.</h1>
                    <h3 class="subtitle">Keep reading to know what's this about! <i class="icon-font">&#xe0b5;</i></h3> -->
                    <h1><strong class="lato">VET HEROES</strong> <br>La nueva forma de administrar tu veterinaria.</h1>
                    <h3 class="subtitle">Sigue leyendo para saber de que se trata! <i class="icon-font">&#xe0b5;</i></h3>
                </div>
                <div class="column medium-8 large-8"><img src="/images/mocks.png" height="452" width="636" alt=""></div>
            </div>
        </section>

        <section id="features">
            <div class="row">
                <div class="column large-12">
                    <h2 class="fwb">Que es Vet Heroes?</h2>
                    <p class="tac">En esencia Vet Heroes es una aplicación web que busca mejorar la manera en que ves y manejas tu veterinaria y tus clientes.</p>
                    <h2 style="font-size:2.9rem">Que te ofrece Vet Heroes?</h2>
                </div>
            </div>
            <div class="row">
                <div class="column large-4 medium-4">
                    <i class="icon icon-font">&#xe0ce;</i>
                    <h3>Maneja tus citas con facilidad</h3>
                    <p>Sabemos que tu veterinaria necesita organizar citas de una manera ágil y efectiva.</p>
                    <p>De este modo tu puedes concentrarte en cosas más importantes. </p>
                </div>
                <div class="column large-4 medium-4">
                    <i class="icon icon-font">&#xe0f0;</i>
                    <h3>Maneja tus clientes sin estrés</h3>
                    <p>Una de las mejores cosas de Vet Heroes es que tu y tus clientes tendrán una mejor relación.</p>
                    <p>Los agendamientos, recordatorios y procedimientos serán comunicados a tus clientes sin esfuerzo.</p>
                </div>
                <div class="column large-4 medium-4">
                    <i class="icon icon-font">&#xe182;</i>
                    <h3>Monitorea como va tu veterinaria</h3>
                    <p>Cuántos pacientes atiendes al mes? Cuántos procedimientos haces al día? Que clientes te cancelan más citas?</p>
                    <p>Vet Heores te permite conocer estos datos y muchos más, para que sepas como funciona tu veterinaria.</p>
                </div>
            </div>
            <div class="row">
                <div class="column large-4 medium-4">
                    <i class="icon icon-font">&#xe11c;</i>
                    <h3>Haz seguimiento a tus animales</h3>
                    <p>Podrás ver y monitorear el histórico de tus animales; sus vacunas, procedimientos y próximos eventos tan fácilmente que no lo podrás creer.</p>
                </div>
                <div class="column large-4 medium-4">
                    <i class="icon icon-font">&#xe109;</i>
                    <h3>Publica tus animales para adopción</h3>
                    <p>Vet Heroes cree que la adopción de animales debe ser promocionada. Por eso te permite publicar con la comunidad los animales que tenga tu veterinaria para adopción.</p>
                    <p>Juntos le daremos hogares a muchas mascotas.</p>
                </div>
                <div class="column large-4 medium-4">
                    <i class="icon icon-font">&#xe177;</i>
                    <h3>Relájate y disfruta tu veterinaria y su comunidad</h3>
                    <p>Vet Heroes se convertirá en un herramienta necesaria para ti y tu veterinaria. Olvídate de los mails y de engorrosos llamadas a tus clientes para que recuerden sus citas. De eso se encargará Vet Heroes</p>
                </div>
            </div>
        </section>

        <section>
            <div class="row">
                <div class="column large-10 medium-10 large-centered medium-centered tac">
                    <h2 class="tac">Cuanto cuesta?</h2>
                    <p>Vet Heroes saldrá al mercado por un precio de aproximadamente <strong>20 dólares al mes</strong>.</p>
                    <p ng-show="isInvited">Pero <strong>por haber sido invitado</strong> a nuestro pre-lanzamiento. Te daremos <strong>6 meses gratis</strong> de todo nuestros servicios.</p>
                    <p ng-show="!isInvited">Pero <strong>si pides una invitación</strong> podrias tener los primeros <strong>6 meses gratis</strong></p>
                </div>
            </div>
            <div class="row">
                <div class="column large-8 medium-8 large-centered medium-centered form-row">
                    <h3 ng-show="isInvited">Valida tu pre-inscripción ahora y no pierdas esta oportunidad única.</h3>
                    <h3 ng-show="!isInvited">Si quieres pedir una invitación por favor llena este pequeño formulario.</h3>
                    <form action="" ng-submit="sendForm()" ng-show="formActive">
                        <label for="">Nombre de la veterinaria</label>
                        <input type="text" ng-model="inviteInfo.name" required>

                        <label for="">Persona de contacto</label>
                        <input type="text" ng-model="inviteInfo.contact" required>

                        <label for="">E-mail</label>
                        <input type="email" ng-model="inviteInfo.email" required>

                        <label for="">Teléfono</label>
                        <input type="number" ng-model="inviteInfo.tel" required>

                        <div class="tac">
                            <button ng-show="isInvited" type="submit" class="button">QUIERO PREINSCRIBIRME!</button>
                            <button ng-show="!isInvited" type="submit" class="button">QUIERO ESTAR EN LA LISTA!</button>
                            <br><small>* Haciendo click en este botón, estas aceptando nuestras <a href="/terms">Políticas de privacidad</a></small>
                        </div>
                    </form>
                    <div ng-hide="formActive">
                        <p ng-show="isInvited">Tu invitación ha sido confirmada. Bienvenido a la familia Vet Heroes. Pronto estaremos en contacto contigo</p>
                        <p ng-show="!isInvited">Tu petición ha sido enviada. Pronto nos contactaremo contigo para confirmate. Muchas gracias por participar y bienvenido a la familia Vet Heroes</p>
                    </div>
                </div>
            </div>
        </section>