<div ng-controller="SendInviteCtrl">
    <div class="row">
        <div class="column large-12">
            <h3>Send private email invitations</h3>
            <table>
                <tr ng-repeat="invite in invites">
                    <td>{{invite.id}}</td>
                    <td>{{invite.name}}</td>
                    <td>{{invite.contact}}</td>
                    <td>{{invite.email}}</td>
                    <td>{{invite.status}}</td>
                    <td>{{invite.token}}</td>
                    <td><a class="button tiny" href="#" ng-click="sendInvite(invite)">Send email</a></td>
                </tr>
            </table>
        </div>
    </div>
</div>