<div ng-controller="NewInviteCtrl">
    <div class="row">
        <div class="column large-8">
            <h2>Create a new invite</h2>
            <form action="" ng-submit="newInvitation()">

                <label for="">Nombre de la veterinaria * <i class="icon-font" mb-icon-validation="form.name"></i></label>
                <input type="text" name="name" ng-model="inviteInfo.name" required>

                <label for="">Persona de contacto * <i class="icon-font" mb-icon-validation="form.contact"></i></label>
                <input type="text" name="contact" ng-model="inviteInfo.contact">

                <label for="">E-mail * <i class="icon-font" mb-icon-validation="form.email"></i></label>
                <input type="email" name="email" ng-model="inviteInfo.email" required>

                <label for="">Teléfono * <i class="icon-font" mb-icon-validation="form.tel"></i></label>
                <input type="number" name="tel" ng-model="inviteInfo.tel">

                <button type="submit" class="button" ng-disabled="form.$invalid">CREAR INVITACIÓN</button>

                <pre ng-show="error">{{error | json}}</pre>
            </form>
        </div>
    </div>
</div>